@font-face
	font-family: GreatV
	src: url('../fonts/GreatVibes-Regular.ttf')

@font-face
	font-family: Kaushan
	src: url('../fonts/KaushanScript-Regular.ttf')
@font-face
	font-family: Rale
	src: url('../fonts/Raleway-Regular.ttf')

#about
    height: auto
    border: 1px solid orangered
    text-align: center
    margin-top: 100px
    h2
        font-family: GreatV
        font-size: 2.5em
    h3
        font-family: Kaushan
        margin-bottom: 40px
        font-size: 3em
        text-transform: capitalize
    p
        font-family: Rale
        margin-bottom: 100px
.cards-col
    display: flex
    justify-content: center

.card
    border: none
.card-img,
.card-img-top
    border-radius: 0
