
#footer
    padding: 50px 0 20px 0
    background-color: #1e1c1b
    text-align: center
    #logo2
        height: 150px
        width: auto
    #stars
        opacity: .5

    div.footer-col
        display: flex
        justify-content: center
        margin: 20px 0
        align-items: center
p.footer-text
    color: #585656
    align-self: flex-end
